body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    color: #fff;
}

#container {
    max-width: 800px; /* Reduced max-width */
    margin: 50px auto; /* Increased margin for spacing */
    padding: 30px; /* Increased padding for spacing */
    background-color: #292929;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); /* Enhanced shadow */
    border-radius: 10px; /* Increased border radius for rounded corners */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

#citySelector {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin-bottom: 10px;
}

#fetchWeather {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

#fetchWeather:hover {
    background-color: #45a049;
}

#weatherDisplay {
    border: 1px solid #888;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ba2525;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

img.weather-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
